<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<mat-card *ngIf="!isLoading" class="form auth-form">
  <mat-card-header class="full-width">
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <form [formGroup]="changePwdForm" (ngSubmit)="onPasswordChange()">
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="changePwdForm.get('password').invalid">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmPassword" type="password">
        <mat-error *ngIf="changePwdForm.get('confirmPassword').invalid">{{getErrorMessageConfirmPassword()}}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!changePwdForm.valid" mat-button class="full-width">Change password</button>
    </mat-card-actions>
  </form>
</mat-card>
