<div class="backdrop" (click)="onClose()"></div>
<mat-card class="alert-box">
  <mat-card-content>
    <p>{{ message }}</p>
  </mat-card-content>
  <mat-card-actions class="alert-box-actions">
    <button mat-button (click)="onClose()">Close</button>
  </mat-card-actions>
</mat-card>
