:host {
  flex-grow: 2;
  .form {
    margin: calc(100%/4) auto 0 auto;
    min-width: 310px;
    max-width: 400px;
    .label {
      line-height: 24px !important;
      color: #2096b7;
      font-weight: 700;
      font-size: 16px;
    }
    .mat-form-field {
      margin-top: 1rem;
    }
    button {
      background-color: #28c98b;
      font-size: 1rem;
      border-radius: 10px;
      padding: 15px 30px;
      &.small {
        padding: 5px 10px;
      }
    }
  }
  button {
    margin-right: 0.5rem;
  }

  @media only screen and (max-width: 850px) {
    .form {
      max-width: 600px;
      margin: 1rem auto;
    }
  }
}
