<mat-card class="form">
  <form [formGroup]="urlForm" (ngSubmit)="onCreateUrl()">
    <mat-card-content>
      <mat-label class="label"><mat-icon aria-hidden="false" aria-label="Example home icon">link</mat-icon> Enter a long URL to make a TinyURL</mat-label>
      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-label>Url</mat-label>
        <input matInput formControlName="fullUrl">
        <mat-error *ngIf="urlForm.get('fullUrl').invalid">{{getErrorMessageFullUrl()}}</mat-error>
      </mat-form-field>
      <mat-label *ngIf="tinyUrl" class="label"><mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon> TinyURL</mat-label>
      <mat-form-field *ngIf="tinyUrl" appearance="outline" class="full-width">
        <input matInput [value]="'http://localhost:4200/' + tinyUrl" readonly>
      </mat-form-field>
      <button *ngIf="tinyUrl" (click)="onVisitUrl()" class="small" type="button" mat-raised-button matTooltip="Visit Url"><mat-icon>arrow_right_alt</mat-icon> </button>
      <button *ngIf="tinyUrl" (click)="onCopyToClipboard()" class="small" type="button" mat-raised-button matTooltip="Copy to clipboard"><mat-icon>content_copy</mat-icon> Copy</button>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="urlForm.invalid" type="submit" mat-button class="full-width">Make TinyURL</button>
    </mat-card-actions>
  </form>
</mat-card>
