<mat-toolbar>
  <a mat-button routerLink="" class="title">Agmis Tiny Url Task</a>
  <div class="wrapper">
    <a mat-button routerLink="auth/signup" routerLinkActive="active" *ngIf="!isAuthenticated">Sign Up</a>
    <a mat-button routerLink="auth/signin" routerLinkActive="active" *ngIf="!isAuthenticated">Sign In</a>
    <a mat-button routerLink="auth/edit" routerLinkActive="active" *ngIf="isAuthenticated">Change password</a>
    <a mat-button (click)="logout()" *ngIf="isAuthenticated">Log out</a>
  </div>
</mat-toolbar>
