.title {
  font-size: 1.5rem;
  &:hover {
    text-decoration: underline;
  }
}

.mat-toolbar {
  background-color: transparent;
  min-width: 310px;
  display: flex;
  justify-content: space-between;
  .wrapper {
    background-color: #0066a7;
    border-radius: 4px;
    .mat-button {
      &:hover {
        background-color: #1687c7;
      }
    }
    .active {
      background-color: #1687c7;
    }
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 0.8rem;
  }
  a {
    padding: 0 5px;
    font-size: 0.7rem;
  }
}
