<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<mat-card *ngIf="!isLoading" class="form auth-form">
  <mat-card-header class="full-width">
    <mat-card-title *ngIf="isLoginMode">Login</mat-card-title>
    <mat-card-title *ngIf="!isLoginMode">Register</mat-card-title>
  </mat-card-header>
  <form [formGroup]="authForm" (ngSubmit)="onAuthentication()">
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="authForm.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="authForm.get('password').invalid">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isLoginMode" [disabled]="!authForm.valid" mat-button class="full-width">Sign In</button>
      <button *ngIf="!isLoginMode" [disabled]="!authForm.valid" mat-button class="full-width">Sign Up</button>
      <p *ngIf="isLoginMode" class="text-center">Don’t have an account? <a mat-button routerLink="auth/signup">Sign Up</a></p>
      <p *ngIf="!isLoginMode" class="text-center">Already a user? <a mat-button routerLink="auth/signin">Sign In</a></p>
    </mat-card-actions>
  </form>
</mat-card>
